{% extends 'layout.html' %}

{% block body %}
<p></p>
  <div class="jumbotron">
    <h1 class="display-4" align="center">Statistics @ {{ environmentals.timestamp }}</h1>
    <p></p>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="{{ divs.ctemp }}" role="alert">
            <p><b>Cool Temp:</b> {{ environmentals.ctemp }}&deg;C</p>
          </div>
          <div class="{{ divs.htemp }}" role="alert">
            <p><b>Basking Temp:</b> {{ environmentals.htemp }}&deg;C</p>
          </div>
          <div class="{{ divs.uv }}" role="alert">
            <p><b>UV Index:</b> {{ environmentals.uv }}</p>
          </div>
          <div class="{{ divs.chum }}" role="alert">
            <p><b>Cool Humidity:</b> {{ environmentals.chum }}%</p>
          </div>
          <div class="{{ divs.hhum }}" role="alert">
            <p><b>Basking Humidity:</b> {{ environmentals.hhum }}%</p>
          </div>
          <div class="text-center">
            <button type"button" class="btn btn-primary">Update Data</button>
            <p></p>
            <button type"button" class="btn btn-primary">Toggle Lamp</button>
          </div>
        </div>
        <div class="col-sm-9">
          <img src="{{url_for('static', filename='images/image.jpg')}}" class="img-fluid mx-auto d-block">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
