{% extends 'layout.html' %}

{% block body %}
<p></p>
<div class="jumbotron">
  <body class="text-center">
    <h1>Login</h1>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="">
      <div class="form-group">
        {{ render_field(form.username, class_="form-control") }}
      </div>
      <div class="form-group">
        {{ render_field(form.password, class_="form-control") }}
      </div>
      <p><input class="btn btn-primary" type="submit" value="Submit"></p>
    </form>
  </body>
</div>
{% endblock %}
